*{
    font-size:14px;
    font-family: Arial;
}


.content{
    padding: 1rem 1.2rem 1rem 1.2rem;
    
}
/* logo */
.logo-cont{
    height: 35px;
    margin-top: 0px;
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
}
.logo{
    height: 35px;
    width: 100px;
    background-image: url(amazon_dark.png);
    background-size: cover;
}

/* signing */
.signin-cont{
    display: flex;
    justify-content: center;
}
.signin{
    width: 22.5%;
    height: 340px;
    border: 0.5px solid rgba(1, 1,1, 0.3);
    border-radius: 5px;
    padding: 20px 26px 20px 26px;
}


.signin h1{
    font-size: 2.4rem;
    margin-top: 0rem;
    margin-bottom: 0.9rem;
}
.emp{
    font-size: 0.9rem;
    font-weight: 700;
    padding: 0.5rem 0rem 0.5rem 0rem;
}

input{
    width: 100%;
    height: 2.05rem;
    padding: 0.5px 0px 0px 0px;
    margin-top: 0.3rem;
    border-radius: 4px;
    outline: 0.5px black;
}

input:hover{
    outline: none;
    border: 0.5px solid black; /* Keep the black border */
    box-shadow: 0 0 0 1.5px rgb(108, 208, 247); /* Blue outline outside the border */
    border-radius: 4px;
}

button{
    background-color: #fbe203;
    width: 100%;
    height: 2.1rem;
    margin-top: 0.8rem;
    border-radius: 0.5rem;
    border: none;
}
.terms{
    margin-top: 1.2rem;
    font-size: 0.8rem;
}
.terms a{
    font-size: 0.8rem;
}
.help i,.help a{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
}
.link{
    color: #319f9f;
    text-decoration: underline;
}
hr{
    opacity: 30%;
}
.bot-text{
    margin-top: 1.5rem;
    font-size: 0.8rem;
}
.bot-text p{
    margin-bottom: 0.4rem;
    font-weight: 550;
}

/* horizontal bar */

.break{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.new-hr{
    width: 26%;
    position: relative;
    
}
.new-hr-par{
    color: rgba(0, 0, 0, 0.3); 
    margin: 0px 0px 0px 0px ;
    font-size: 0.8rem;
    position: absolute;
    background-color: white;
    top: 0.3px;
    left: 37%;
    z-index: 1;

}


/* button */
.create{
    display: flex;
    justify-content: center;
}
.button{
    width: 26%;
    height: 1.8rem;
    border-radius: 7px;
    margin-top: 0.8rem;
    border: 1px solid rgba(1,1,1,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.button p{
    font-size: 0.8rem;
}

.button:hover{
    background-color: rgba(237, 227, 227, 0.4);
}    

/* divider */
.divider{
    margin-top: 0.4rem;
}

/* footer */
footer{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.f-first{
    display: flex;
    justify-items: center;
    a{
        margin-left: 1.5rem;
        color: #319f9f;
        font-size: 0.8rem;
    }
}

.f-second{
    display: flex;
    justify-content: center;
    margin-top: 0.8rem;
    font-size: 0.8rem;
}